
h1 { font-size: large; }
	

#subsTree { border: solid 1px black; overflow: auto;}
#left { float: left; width: 22%; }

#right { border: solid 1px black; width: 75%; float:right; }

.subDir { margin: 0px; padding-left: 10px; }
/* Should I use http://www.jaybirdsweb.com/tuts/menu/ieHoverFix.js ? */

h1 { background-color: rgb(224, 236, 255) }