---
layout: default
title: Home
---

<div class="posts">
  {% assign shown_posts = 0 %}
  {% for post in site.posts %}
  {% unless post.categories contains "til" %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% assign shown_posts = shown_posts | plus: 1 %}
  {% if shown_posts == site.paginate %}
  {% break %}
  {% endif %}
  {% endunless %}
  {% endfor %}
</div>

<div class="pagination">
  <a class="pagination-item older" href="{{ '/archives.html' | relative_url }}">Archive</a>
  <span class="pagination-item newer">Newer</span>
</div>
