<a href="http://blog.monstuff.com/archives/000383.html">Physics experiments to do at home</a><br />
<a href="http://blog.monstuff.com/archives/000382.html">Thoughts on Newton and Einstein</a><br />
<a href="http://blog.monstuff.com/archives/000381.html">Defending free speech consistently</a><br />
<a href="http://blog.monstuff.com/archives/000380.html">Thick displays</a><br />
<a href="http://blog.monstuff.com/archives/000377.html">Hans Rosling on the facts about population</a><br />
<a href="http://blog.monstuff.com/archives/000376.html">Bill Nye and Ken Ham debating on creationism</a><br />
<a href="http://blog.monstuff.com/archives/000375.html">Prediction vs Explanation</a><br />
<a href="http://blog.monstuff.com/archives/000374.html">Protectionism == Luddism</a><br />
<a href="http://blog.monstuff.com/archives/000373.html">Moderated off Boing Boing</a><br />
<a href="http://blog.monstuff.com/archives/000372.html">I &#9829; Patent Trolls</a><br />
<a href="http://blog.monstuff.com/archives/000371.html">Head Mounted Displays</a><br />
<a href="http://blog.monstuff.com/archives/000370.html">Better async programming in .Net</a><br />
<a href="http://blog.monstuff.com/archives/000369.html">Action, preferences, value</a><br />
<a href="http://blog.monstuff.com/archives/000368.html">Fresh breeze on climate debate</a><br />
<a href="http://blog.monstuff.com/archives/000367.html">On-the-fly book scanning</a><br />
<a href="http://blog.monstuff.com/archives/000366.html">State and education</a><br />
<a href="http://blog.monstuff.com/archives/000365.html">Live Geometry screencast</a><br />
<a href="http://blog.monstuff.com/archives/000364.html">Wired Science TV show</a><br />
<a href="http://blog.monstuff.com/archives/000362.html">Expectations and accountability in Economics</a><br />
<a href="http://blog.monstuff.com/archives/000361.html">Science of human action</a><br />
<a href="http://blog.monstuff.com/archives/000359.html">Reactive programming in javascript and C#</a><br />
<a href="http://blog.monstuff.com/archives/000358.html">Google Wave</a><br />
<a href="http://blog.monstuff.com/archives/000357.html">Reading facial expressions</a><br />
<a href="http://blog.monstuff.com/archives/000354.html">Google Android architecture</a><br />
<a href="http://blog.monstuff.com/archives/000356.html">MSDN light</a><br />
<a href="http://blog.monstuff.com/archives/000351.html">Kindle 2 review</a><br />
<a href="http://blog.monstuff.com/archives/000353.html">Orange Juice</a><br />
<a href="http://blog.monstuff.com/archives/000348.html">Better software for multitasking</a><br />
<a href="http://blog.monstuff.com/archives/000332.html">Amazon Kindle review</a><br />
<a href="http://blog.monstuff.com/archives/000345.html">New president and the economy</a><br />
<a href="http://blog.monstuff.com/archives/000342.html">Ubiquity command: proxy-set</a><br />
<a href="http://blog.monstuff.com/archives/000343.html">Ubiquity command: insert-link</a><br />
<a href="http://blog.monstuff.com/archives/000341.html">Ubiquity command: beautify-js</a><br />
<a href="http://blog.monstuff.com/archives/000340.html">Ubiquity add-on for Firefox</a><br />
<a href="http://blog.monstuff.com/archives/000339.html">Ad blocking in IE8</a><br />
<a href="http://blog.monstuff.com/archives/000317.html">TextWidget: a text-based UI control</a><br />
<a href="http://blog.monstuff.com/archives/000337.html">Google - Single Page Results</a><br />
<a href="http://blog.monstuff.com/archives/000336.html">Flickr - Single Page Results</a><br />
<a href="http://blog.monstuff.com/archives/000335.html">Summary: Parallel FX library</a><br />
<a href="http://blog.monstuff.com/archives/000333.html">Trends in computing</a><br />
<a href="http://blog.monstuff.com/archives/000330.html">Hybrid neural network training</a><br />
<a href="http://blog.monstuff.com/archives/000325.html">Useful Visual Studio 2005 shortcuts</a><br />
<a href="http://blog.monstuff.com/archives/000324.html">One-click video streaming from home server</a><br />
<a href="http://blog.monstuff.com/archives/000323.html">Unittesting asynchronous methods</a><br />
<a href="http://blog.monstuff.com/archives/000322.html">"Inline IMDB ratings" script</a><br />
<a href="http://blog.monstuff.com/archives/000319.html">Platform issues for movie listings on-the-go</a><br />
<a href="http://blog.monstuff.com/archives/000318.html">Frustration with RIA platforms</a><br />
<a href="http://blog.monstuff.com/archives/000316.html">Secure cooperation in javascript</a><br />
<a href="http://blog.monstuff.com/archives/000315.html">Implementing threads in javascript</a><br />
<a href="http://blog.monstuff.com/archives/000312.html">Dojo Offline Toolkit</a><br />
<a href="http://blog.monstuff.com/archives/000309.html">Xbox 360 + Windows Media Connect = video streaming</a><br />
<a href="http://blog.monstuff.com/archives/000302.html">Crossdomain.xml security warning</a><br />
<a href="http://blog.monstuff.com/archives/000304.html">Cross-document messaging hack</a><br />
<a href="http://blog.monstuff.com/archives/000305.html">Sneaky web user tracking hack</a><br />
<a href="http://blog.monstuff.com/archives/000303.html">First person puzzle game with portals</a><br />
<a href="http://blog.monstuff.com/archives/000301.html">Cross-Site Request Forgery and Capability-based Security</a><br />
<a href="http://blog.monstuff.com/archives/000296.html">Web API authentication for mashups</a><br />
<a href="http://blog.monstuff.com/archives/000295.html">How to expose click fraud?</a><br />
<a href="http://blog.monstuff.com/archives/000294.html">FlashXMLHttpRequest: cross-domain requests</a><br />
<a href="http://blog.monstuff.com/archives/000292.html">Highway traffic map for cellphones</a><br />
<a href="http://blog.monstuff.com/archives/000291.html">XmlHttpRequest Debugging for IE</a><br />
<a href="http://blog.monstuff.com/archives/000287.html">Javascript Shell bookmarklet for IE</a><br />
<a href="http://blog.monstuff.com/archives/000283.html">LiveClipboard: Wiring web and desktop apps together</a><br />
<a href="http://blog.monstuff.com/archives/000266.html">Computational Camera</a><br />
<a href="http://blog.monstuff.com/archives/000280.html">Cross-domain AJAX using Flash</a><br />
<a href="http://blog.monstuff.com/archives/000282.html">Two amazing demos: Mooncheese and Spore</a><br />
<a href="http://blog.monstuff.com/archives/000281.html">"MSDN - Fix titles" Greasemonkey script</a><br />
<a href="http://blog.monstuff.com/archives/000278.html">"Add Torrent to ABC" Greasemonkey script</a><br />
<a href="http://blog.monstuff.com/archives/000279.html">Comment Tracking with coComment</a><br />
<a href="http://blog.monstuff.com/archives/000277.html">"Take It With You" Feed Reader</a><br />
<a href="http://blog.monstuff.com/archives/000276.html">Lock bumping (lockpicking technique)</a><br />
<a href="http://blog.monstuff.com/archives/000272.html">"Take It With You" Wiki</a><br />
<a href="http://blog.monstuff.com/archives/000274.html">XmlHttpRequest Debugging (Firefox 1.5 update)</a><br />
<a href="http://blog.monstuff.com/archives/000270.html">Greasemonkey Hacks is out</a><br />
<a href="http://blog.monstuff.com/archives/000268.html">XmlHttpRequest Debugging (update)</a><br />
<a href="http://blog.monstuff.com/archives/000267.html">ArsTechnica - Single Page View</a><br />
<a href="http://blog.monstuff.com/archives/000265.html">New e-book devices announced (with e-ink)</a><br />
<a href="http://blog.monstuff.com/archives/000263.html">Javascript pen recognition</a><br />
<a href="http://blog.monstuff.com/archives/000264.html">XmlHttpRequest - Add Latency</a><br />
<a href="http://blog.monstuff.com/archives/000261.html">New breeds of malware</a><br />
<a href="http://blog.monstuff.com/archives/000262.html">XMLHttpRequest - Security Bypass</a><br />
<a href="http://blog.monstuff.com/archives/000259.html">RealSimple - Printer Friendly Redirect</a><br />
<a href="http://blog.monstuff.com/archives/000258.html">Slashdot - Single Page View</a><br />
<a href="http://blog.monstuff.com/archives/000257.html">IGN - Single Page View</a><br />
<a href="http://blog.monstuff.com/archives/000255.html">ACM Queue - Single Page View</a><br />
<a href="http://blog.monstuff.com/archives/000242.html">Traffic light versus stop sign</a><br />
<a href="http://blog.monstuff.com/archives/000252.html">AJAX Debugging with Greasemonkey</a><br />
<a href="http://blog.monstuff.com/archives/000250.html">"XMLHttpRequest Tracing" for AJAX debugging</a><br />
<a href="http://blog.monstuff.com/archives/000249.html">"Identify Password Fields" Greasemonkey script</a><br />
<a href="http://blog.monstuff.com/archives/000248.html">Self-referring ads</a><br />
<a href="http://blog.monstuff.com/archives/000247.html">Detecting AdBlock: conflicts and collaboration</a><br />
<a href="http://blog.monstuff.com/archives/000246.html">Textarea resize user script</a><br />
<a href="http://blog.monstuff.com/archives/000243.html">Closures & Continuations</a><br />
<a href="http://blog.monstuff.com/archives/000240.html">"MSDN Language Filter" user script</a><br />
<a href="http://blog.monstuff.com/archives/000239.html">Various Greasemonkey user scripts</a><br />
<a href="http://blog.monstuff.com/archives/000238.html">Handle mailto: links with Gmail</a><br />
<a href="http://blog.monstuff.com/archives/000232.html">Open-ended links, link re-writing</a><br />
<a href="http://blog.monstuff.com/archives/000236.html">Bunny rabbit hacking</a><br />
<a href="http://blog.monstuff.com/archives/000235.html">BoingBoing Ad Remover</a><br />
<a href="http://blog.monstuff.com/archives/000234.html">Cooperation in online shooter games</a><br />
<a href="http://blog.monstuff.com/archives/000233.html">Ten Reasons Why Blogging is Good For Your Career</a><br />
<a href="http://blog.monstuff.com/archives/000230.html">The brewing war over ad filtering</a><br />
<a href="http://blog.monstuff.com/archives/000229.html">Comment tracking twist: personalized feeds</a><br />
<a href="http://blog.monstuff.com/archives/000227.html">Maps.google.com beta</a><br />
<a href="http://blog.monstuff.com/archives/000222.html">Zoomable flash animations</a><br />
<a href="http://blog.monstuff.com/archives/000219.html">Laminate floor installation 101</a><br />
<a href="http://blog.monstuff.com/archives/000223.html">Wiki and tagged bookmarks integration</a><br />
<a href="http://blog.monstuff.com/archives/000225.html">Google hinting: rel=nofollow</a><br />
<a href="http://blog.monstuff.com/archives/000224.html">Trying out Google AdSense</a><br />
<a href="http://blog.monstuff.com/archives/000220.html">Screen recording and publishing</a><br />
<a href="http://blog.monstuff.com/archives/000221.html">Seattle Comcast DVR experience</a><br />
<a href="http://blog.monstuff.com/archives/000218.html">Dofus MMORPG in Flash</a><br />
<a href="http://blog.monstuff.com/archives/000216.html">Networked audio driver for windows</a><br />
<a href="http://blog.monstuff.com/archives/000217.html">Ink/character recognition</a><br />
<a href="http://blog.monstuff.com/archives/000215.html">"Smart codes" for micropayments</a><br />
<a href="http://blog.monstuff.com/archives/000214.html">Visual cryptography</a><br />
<a href="http://blog.monstuff.com/archives/000213.html">Security and illusions</a><br />
<a href="http://blog.monstuff.com/archives/000205.html">C# to SWF (Flash) compiler</a><br />
<a href="http://blog.monstuff.com/archives/000212.html">SP2 floating TIP and Firefox</a><br />
<a href="http://blog.monstuff.com/archives/000208.html">Updated RSS 2.0 feed to full-text</a><br />
<a href="http://blog.monstuff.com/archives/000207.html">Zombie flashmob</a><br />
<a href="http://blog.monstuff.com/archives/000206.html">Comment tracking</a><br />
<a href="http://blog.monstuff.com/archives/000204.html">Google hinting</a><br />
<a href="http://blog.monstuff.com/archives/000203.html">Siggraph 2004 papers</a><br />
<a href="http://blog.monstuff.com/archives/000201.html">Microsoft and Bittorrent</a><br />
<a href="http://blog.monstuff.com/archives/000200.html">Bittorrent HTTP/web seeding</a><br />
<a href="http://blog.monstuff.com/archives/000197.html">Saving OneNote notes on webDAV folder</a><br />
<a href="http://blog.monstuff.com/archives/000199.html">Are you vulnerable to Phishing?</a><br />
<a href="http://blog.monstuff.com/archives/000198.html">Credit cards and POLA</a><br />
<a href="http://blog.monstuff.com/archives/000195.html">Video transcription tool</a><br />
<a href="http://blog.monstuff.com/archives/000194.html">Bittorrent downloader with web UI...</a><br />
<a href="http://blog.monstuff.com/archives/000192.html">How to write C++ XPCOM components</a><br />
<a href="http://blog.monstuff.com/archives/000181.html">Optical illusions</a><br />
<a href="http://blog.monstuff.com/archives/000191.html">Tool: image directory to PDF</a><br />
<a href="http://blog.monstuff.com/archives/000185.html">Cool display technologies</a><br />
<a href="http://blog.monstuff.com/archives/000188.html">TechEd04 presentations gone?</a><br />
<a href="http://blog.monstuff.com/archives/000187.html">.Net Reflection tricks</a><br />
<a href="http://blog.monstuff.com/archives/000186.html">Ordering pizza from Tivo</a><br />
<a href="http://blog.monstuff.com/archives/000182.html">Privacy invasion for fun or profit</a><br />
<a href="http://blog.monstuff.com/archives/000184.html">ASP.Net TypeKey authentication</a><br />
<a href="http://blog.monstuff.com/archives/000183.html">More sites offering RSS feeds</a><br />
<a href="http://blog.monstuff.com/archives/000171.html">Comment spam</a><br />
<a href="http://blog.monstuff.com/archives/000180.html">Origami folding robot</a><br />
<a href="http://blog.monstuff.com/archives/000179.html">Despairing for IIS error logs</a><br />
<a href="http://blog.monstuff.com/archives/000177.html">P2P Blockbuster</a><br />
<a href="http://blog.monstuff.com/archives/000175.html">PDML PHP tricks</a><br />
<a href="http://blog.monstuff.com/archives/000165.html">PageRank and new content</a><br />
<a href="http://blog.monstuff.com/archives/000129.html">Remote Javascript Scripting</a><br />
<a href="http://blog.monstuff.com/archives/000172.html">C# port of dChat</a><br />
<a href="http://blog.monstuff.com/archives/000173.html">More TypeKey thoughts</a><br />
<a href="http://blog.monstuff.com/archives/000170.html">TypeKey is live (beta)</a><br />
<a href="http://blog.monstuff.com/archives/000167.html">Microsoft Passport 101</a><br />
<a href="http://blog.monstuff.com/archives/000169.html">Nifty javascript + DOM tricks</a><br />
<a href="http://blog.monstuff.com/archives/000150.html">Firefox plugins</a><br />
<a href="http://blog.monstuff.com/archives/000164.html">Object vs. Feed: vs. Mime-type</a><br />
<a href="http://blog.monstuff.com/archives/000163.html">Web game collection</a><br />
<a href="http://blog.monstuff.com/archives/000162.html">RFC: RSS one-click subscription</a><br />
<a href="http://blog.monstuff.com/archives/000144.html">Hosting ASP.NET in IE</a><br />
<a href="http://blog.monstuff.com/archives/000161.html">Tablet PC ideas</a><br />
<a href="http://blog.monstuff.com/archives/000149.html">HTTP 101</a><br />
<a href="http://blog.monstuff.com/archives/000160.html">iFolder open-sourced!</a><br />
<a href="http://blog.monstuff.com/archives/000159.html">Structures and algorithms references</a><br />
<a href="http://blog.monstuff.com/archives/000158.html">Running Java on top of .Net</a><br />
<a href="http://blog.monstuff.com/archives/000155.html">Using friends as filters</a><br />
<a href="http://blog.monstuff.com/archives/000157.html">Essential food: "nutella"</a><br />
<a href="http://blog.monstuff.com/archives/000156.html">Some bloglines ideas</a><br />
<a href="http://blog.monstuff.com/archives/000154.html">I/O gadgets</a><br />
<a href="http://blog.monstuff.com/archives/000153.html">Comment authentication</a><br />
<a href="http://blog.monstuff.com/archives/000152.html">Are libraries the new languages?</a><br />
<a href="http://blog.monstuff.com/archives/000151.html">Decompression bombs vs. RIAA</a><br />
<a href="http://blog.monstuff.com/archives/000148.html">RSS-free day of the week</a><br />
<a href="http://blog.monstuff.com/archives/000147.html">XAMLON: XAML before Longhorn</a><br />
<a href="http://blog.monstuff.com/archives/000146.html">Classical Computer Science Texts</a><br />
<a href="http://blog.monstuff.com/archives/000145.html">What do computers dream about?</a><br />
<a href="http://blog.monstuff.com/archives/000143.html">Ubiquitous data product: DataPod</a><br />
<a href="http://blog.monstuff.com/archives/000142.html">M&Ms and sphere packing</a><br />
<a href="http://blog.monstuff.com/archives/000141.html">Essential utility: "screen"</a><br />
<a href="http://blog.monstuff.com/archives/000140.html">Information wants to be decentralized</a><br />
<a href="http://blog.monstuff.com/archives/000139.html">Video streaming over HTTP</a><br />
<a href="http://blog.monstuff.com/archives/000138.html">Upcoming fix for IE url spoofing bug</a><br />
<a href="http://blog.monstuff.com/archives/000135.html">Yo-yo contest and other videos</a><br />
<a href="http://blog.monstuff.com/archives/000137.html">Microsoft reality check?</a><br />
<a href="http://blog.monstuff.com/archives/000136.html">Mailing list integration with mail client</a><br />
<a href="http://blog.monstuff.com/archives/000133.html">Scheduling Your Network Connections (SYNC)</a><br />
<a href="http://blog.monstuff.com/archives/000132.html">Back online at last!</a><br />
<a href="http://blog.monstuff.com/archives/000122.html">Blog on hold while moving</a><br />
<a href="http://blog.monstuff.com/archives/000121.html">Movie comparisons with the Matrix</a><br />
<a href="http://blog.monstuff.com/archives/000120.html">Infinite Spire WTC Memorial</a><br />
<a href="http://blog.monstuff.com/archives/000105.html">Tablet PC programming</a><br />
<a href="http://blog.monstuff.com/archives/000117.html">All work and no play?</a><br />
<a href="http://blog.monstuff.com/archives/000119.html">User contributed notes on MSDN</a><br />
<a href="http://blog.monstuff.com/archives/000118.html">Korea and cellphones</a><br />
<a href="http://blog.monstuff.com/archives/000115.html">Math Fun Facts</a><br />
<a href="http://blog.monstuff.com/archives/000114.html">Bridging digital and real worlds</a><br />
<a href="http://blog.monstuff.com/archives/000112.html">Longhorn Developer Center...</a><br />
<a href="http://blog.monstuff.com/archives/000108.html">Bayesian probability and networks</a><br />
<a href="http://blog.monstuff.com/archives/000111.html">Some physics experiments</a><br />
<a href="http://blog.monstuff.com/archives/000110.html">Advanced Google features</a><br />
<a href="http://blog.monstuff.com/archives/000109.html">Help Google help us</a><br />
<a href="http://blog.monstuff.com/archives/000107.html">Writing NASA's software</a><br />
<a href="http://blog.monstuff.com/archives/000106.html">Typing while holding a Tablet PC pen</a><br />
<a href="http://blog.monstuff.com/archives/000102.html">Capability-based security</a><br />
<a href="http://blog.monstuff.com/archives/000104.html">C# delegates and events drawbacks</a><br />
<a href="http://blog.monstuff.com/archives/000103.html">Digitally signed ID cards</a><br />
<a href="http://blog.monstuff.com/archives/000101.html">Storage, Filesystems and Information retrieval</a><br />
<a href="http://blog.monstuff.com/archives/000100.html">How Everyday Things Are Made</a><br />
<a href="http://blog.monstuff.com/archives/000099.html">Multi-University/Research Lectures</a><br />
<a href="http://blog.monstuff.com/archives/000098.html">Dynamic Proxy Classes</a><br />
<a href="http://blog.monstuff.com/archives/000097.html">Self-referential Google search</a><br />
<a href="http://blog.monstuff.com/archives/000095.html">Don't feed the blog</a><br />
<a href="http://blog.monstuff.com/archives/000096.html">Hyperion Film Trilogy?</a><br />
<a href="http://blog.monstuff.com/archives/000085.html">Private Information Network</a><br />
<a href="http://blog.monstuff.com/archives/000094.html">AnonCVS access to cvs.monstuff.com</a><br />
<a href="http://blog.monstuff.com/archives/000093.html">Customize your Tablet PC's dictionary</a><br />
<a href="http://blog.monstuff.com/archives/000091.html">Blog sticker</a><br />
<a href="http://blog.monstuff.com/archives/000089.html">Recording talks</a><br />
<a href="http://blog.monstuff.com/archives/000088.html">Setting the &lt;title> in blogs</a><br />
<a href="http://blog.monstuff.com/archives/000087.html">Video playback on the Tablet PC</a><br />
<a href="http://blog.monstuff.com/archives/000077.html">IL modification at runtime (step III)</a><br />
<a href="http://blog.monstuff.com/archives/000084.html">Acrobat Reader 6.0 speedup</a><br />
<a href="http://blog.monstuff.com/archives/000082.html">SharpReader wishlist</a><br />
<a href="http://blog.monstuff.com/archives/000081.html">Googlebar 2.0: Popup blocking pain</a><br />
<a href="http://blog.monstuff.com/archives/000080.html">Control vs. Freedom and Creativity</a><br />
<a href="http://blog.monstuff.com/archives/000079.html">Optics tricks and wonders</a><br />
<a href="http://blog.monstuff.com/archives/000078.html">Tail calls in .NET</a><br />
<a href="http://blog.monstuff.com/archives/000076.html">Cool gadgets</a><br />
<a href="http://blog.monstuff.com/archives/000065.html">Tablet PC wishlist</a><br />
<a href="http://blog.monstuff.com/archives/000073.html">In search of BitTorrent files</a><br />
<a href="http://blog.monstuff.com/archives/000074.html">Matrix-style table tennis</a><br />
<a href="http://blog.monstuff.com/archives/000071.html">The path to war</a><br />
<a href="http://blog.monstuff.com/archives/000070.html">Minimalistic C# media player</a><br />
<a href="http://blog.monstuff.com/archives/000067.html">VS.net debugging tips whitepaper link</a><br />
<a href="http://blog.monstuff.com/archives/000066.html">Fitt's law on the Tablet PC?</a><br />
<a href="http://blog.monstuff.com/archives/000064.html">The Tivo of your life: CamWear</a><br />
<a href="http://blog.monstuff.com/archives/000063.html">Advanced Javascript links</a><br />
<a href="http://blog.monstuff.com/archives/000062.html">Web links and usability</a><br />
<a href="http://blog.monstuff.com/archives/000060.html">Modifying IL at runtime (step II+)</a><br />
<a href="http://blog.monstuff.com/archives/000059.html">Modifying IL at runtime (step II)</a><br />
<a href="http://blog.monstuff.com/archives/000058.html">Modifying IL at runtime</a><br />
<a href="http://blog.monstuff.com/archives/000043.html">The efficiency of ternary base</a><br />
<a href="http://blog.monstuff.com/archives/000057.html">Marble machine tricks</a><br />
<a href="http://blog.monstuff.com/archives/000054.html">Smart map/route drawing</a><br />
<a href="http://blog.monstuff.com/archives/000053.html">Tablet PC's Ink interoperability...</a><br />
<a href="http://blog.monstuff.com/archives/000052.html">Hosting a web browser component in a C# winform</a><br />
<a href="http://blog.monstuff.com/archives/000051.html">My first inbound link</a><br />
<a href="http://blog.monstuff.com/archives/000050.html">Ink annotations in Acrobat Reader</a><br />
<a href="http://blog.monstuff.com/archives/000049.html">Add a plugin system to your .NET application</a><br />
<a href="http://blog.monstuff.com/archives/000047.html">What is DRM trying to solve?</a><br />
<a href="http://blog.monstuff.com/archives/000046.html">Uphill flowing water illusion</a><br />
<a href="http://blog.monstuff.com/archives/000045.html">Matrix Reloaded review on Kuro5hin</a><br />
<a href="http://blog.monstuff.com/archives/000044.html">Behind Google</a><br />
<a href="http://blog.monstuff.com/archives/000042.html">C# and Java convergence?</a><br />
<a href="http://blog.monstuff.com/archives/000041.html">ASP.NET: Automatic field persistence</a><br />
<a href="http://blog.monstuff.com/archives/000040.html">C# events vs. delegates</a><br />
<a href="http://blog.monstuff.com/archives/000038.html">C# Delegates strike back</a><br />
<a href="http://blog.monstuff.com/archives/000037.html">The dark side of C# Delegates</a><br />
<a href="http://blog.monstuff.com/archives/000036.html">Mechanical chain reaction Ad</a><br />
<a href="http://blog.monstuff.com/archives/000035.html">Debugging Backwards in Time</a><br />
<a href="http://blog.monstuff.com/archives/000033.html">Custom context menu entry in IE and Mozilla</a><br />
<a href="http://blog.monstuff.com/archives/000027.html">Nifty tools for windows</a><br />
<a href="http://blog.monstuff.com/archives/000026.html">Trees in SQL</a><br />
<a href="http://blog.monstuff.com/archives/000025.html">Type-safe collections in C#</a><br />
<a href="http://blog.monstuff.com/archives/000023.html">Focus/Interruption management</a><br />
<a href="http://blog.monstuff.com/archives/000022.html">Sub-Pixel Font Rendering (ClearType)</a><br />
<a href="http://blog.monstuff.com/archives/000021.html">HalfKeyboard software emulation</a><br />
<a href="http://blog.monstuff.com/archives/000020.html">SSL sniffing on the client</a><br />
<a href="http://blog.monstuff.com/archives/000019.html">Unsolved HTML/CSS layout challenge</a><br />
<a href="http://blog.monstuff.com/archives/000018.html">Cool Operating Systems and Language projects</a><br />
<a href="http://blog.monstuff.com/archives/000015.html">Object Oriented Javascript</a><br />
<a href="http://blog.monstuff.com/archives/000013.html">Custom C# ASP.NET webcontrols</a><br />
<a href="http://blog.monstuff.com/archives/000012.html">Pen stroke recognition</a><br />
<a href="http://blog.monstuff.com/archives/000011.html">Introduction</a><br />
<a href="http://blog.monstuff.com/archives/000003.html">First blog entry</a><br />